DATABASE_URL="postgresql://dfmhub_app:projectakr@127.0.0.1:5432/dfmhub_db"
DIRECT_URL="postgresql://dfmhub_app:projectakr@127.0.0.1:5432/dfmhub_db"
UPLOAD_DIR="/opt/dfmhub/data/uploads"


WHATSAPP_ADMIN_PHONE="+919110334346"
CALLMEBOT_API_KEY="DsTyfJ5UpESV"



